main {
    padding: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #1f2833, #45a29e);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.body-content {
    border-radius: 5px;
    color: #C5C6C7;
    margin: 10px;
    padding: 20px;
    padding-top: 10px;
    justify-items: center;
    align-items: center;
}

.body-content p {
    padding-left: 10%;
    padding-right: 10%;
}

header {
    background-color: #1f2833;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    /* grid-template-areas: 
        'top'
        'bottom'; */
    justify-content: center;
}

.header-container {
    /* grid-area: top; */
    width: 100%;
    display: grid;
    grid-template-areas:
        'menu title buttons';
    grid-template-columns:
        50px auto 250px
}

.hamburger-menu {
    margin-right: 10px;
    padding: 0px;
    grid-area: menu;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    font-weight: bolder;
    border: 100px;
    cursor: pointer;
    background-color: transparent;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.header-title {
    grid-area: title;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-title a {
    text-decoration: none;
    color: white;
}

.header-buttons {
    grid-area: buttons;
    display: grid;
    align-items: center;
}

.login-register-btn,
.search-btn,
.add-artist-btn {

    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.login-register-btn:hover,
.search-btn:hover,
.add-artist-btn:hover,
.hamburger-menu:hover {
    background-color: #C5C6C7;
    color: #1f2833;
    transition: background-color 0.3s ease;
}

.add-ons {
    display: grid;
    grid-template-areas:
        'filters search add-btn';
    grid-template-columns: 210px auto 150px;
    column-gap: 50px;
    width: 85%;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
}

.search-bar {
    grid-area: search;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}

.search-bar .search-btn {
    margin-left: 10px;
}

.filter-container {
    grid-area: filters;
    display: flex;
    justify-items: start;
    align-items: center;
    gap: 10px;
}

.filter {

    border-radius: 20px;
    color: #575757;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

.button-a {

    grid-area: add-btn;
    display: flex;
    justify-self: end;
    text-decoration: none;
    align-self: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1f2833;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
    /* Slide in */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.xContainer {
    display: flex;
    justify-content: end;
    align-items: end;
}

#x {
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.add-setlist {
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 10px;
    width: 245px;
}

.contents {
    color: #1f2833;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.card {
    position: relative;

    height: 380px;
    cursor: pointer;
    display: block;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    justify-self: center;
}


.card:hover .card-overlay {
    background: rgba(0, 0, 0, 0.8);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: 1;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-body {
    padding: 10px;
}

.card-body p {
    align-self: center;
    justify-self: center;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.set-place,
.set-date {
    font-size: 14px;
    margin: 5px 0;
}

.card:hover .card-image {
    transform: scale(1.1);
}

.pagination ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    text-decoration: none;
    color: #1f2833;
    padding: 5px 10px;
    background-color: #C5C6C7;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

.pagination ul li a:hover {
    background-color: #575757;
    color: #C5C6C7;
}

.pagination ul li a.active {
    background-color: #575757;
    color: #C5C6C7;
}