/* styles.css */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1f2833;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: grid;
    grid-template-areas: 
        'top'
        'bottom';
    /* justify-content: space-between;
    align-items: center; */
}
.header-container{
    grid-area: top;
    width: 100%;
    display: grid;
    grid-template-areas: 
        'menu title buttons';
    grid-template-columns: 50px auto 250px;
}
.hamburger-menu{
    grid-area: menu;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    font-weight:bolder;
    border: 100px;
    cursor: pointer;
    background-color: transparent;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.header-title {
    grid-area: title;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: 
        'login regis';
    grid-template-columns: 125px 125px;
}

.login-btn, .register-btn, .search-btn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.login-btn{
    grid-area: login;
}
.register-btn{
    grid-area: regis;
}
.search-bar {
    grid-area: bottom;
    margin-top: 10px;
    display: flex;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-bar .search-btn {
    margin-left: 10px;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0; /* Slide in */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
}
.xContainer{
    display: flex;
    justify-content: end;
    align-items: end;
}
#x{
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
}
#aboutus-title{
    margin-top: 0%;
}
.content-container{
    display: flex;
    
}
.content{
    background-color: #575757;
    margin: 10px;
    color: white;
}