main {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #1f2833, #45a29e);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.body-content {
    border-radius: 5px;
    color: #C5C6C7;
    margin: 10px;
    padding: 20px;
    padding-top: 10px;
}

.body-content p {
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    background-color: #1f2833;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    /* grid-template-areas: 
        'top'
        'bottom'; */
    justify-content: center;
}

.header-container {
    /* grid-area: top; */
    width: 100%;
    display: grid;
    grid-template-areas:
        'menu title buttons';
    grid-template-columns:
        50px auto 250px
}

.hamburger-menu {
    margin-right: 10px;
    padding: 0px;
    grid-area: menu;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    font-weight: bolder;
    border: 100px;
    cursor: pointer;
    background-color: transparent;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.header-title {
    grid-area: title;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-title a {
    text-decoration: none;
    color: white;
}

.welcome-text {
    grid-area: name;
    align-self: center;
    justify-self: end;
}

.header-buttons {
    grid-area: buttons;
    display: grid;
    align-items: center;
}


.login-register-btn,
.search-btn {
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.login-register-btn:hover,
.search-btn:hover,
.hamburger-menu:hover {
    background-color: #C5C6C7;
    color: #1f2833;
    transition: background-color 0.3s ease;
}

.search-bar {
    margin: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-self: center;
    width: 60%;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    flex: 1;
}

.search-bar .search-btn {
    margin-left: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1f2833;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
    /* Slide in */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.xContainer {
    display: flex;
    justify-content: end;
    align-items: end;
}

#x {
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
}