main {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #1f2833, #45a29e);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.body-content {
    border-radius: 5px;
    color: #C5C6C7;
    margin: 10px;
    padding: 20px;
    padding-top: 10px;
}

.body-content p {
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    background-color: #1f2833;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    /* grid-template-areas: 
        'top'
        'bottom'; */
    justify-content: center;
}

.header-container {
    /* grid-area: top; */
    width: 100%;
    display: grid;
    grid-template-areas:
        'menu title buttons';
    grid-template-columns:
        50px auto 250px
}

.hamburger-menu {
    margin-right: 10px;
    padding: 0px;
    grid-area: menu;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    font-weight: bolder;
    border: 100px;
    cursor: pointer;
    background-color: transparent;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.header-title {
    grid-area: title;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-title a {
    text-decoration: none;
    color: white;
}

.welcome-text {
    grid-area: name;
    align-self: center;
    justify-self: end;
}

.header-buttons {
    grid-area: buttons;
    display: grid;
    align-items: center;
}


.login-register-btn,
.search-btn,
.add-show-btn {
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.login-register-btn:hover,
.search-btn:hover,
.add-show-btn:hover,
.hamburger-menu:hover {
    background-color: #C5C6C7;
    color: #1f2833;
    transition: background-color 0.3s ease;
}



.add-ons {
    display: grid;
    grid-template-areas:
        'filters search add-btn';
    grid-template-columns: 150px auto 150px;
    column-gap: 30px;
    width: 85%;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    justify-self: center;
}

.search-bar {
    grid-area: search;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}

.search-bar .search-btn {
    margin-left: 10px;
}

.filter-container {
    grid-area: filters;
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 10px;
}


.filter {
    border-radius: 20px;
    color: #575757;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}


.button-a {
    grid-area: add-btn;
    display: flex;
    justify-self: start;
    text-decoration: none;
    align-self: center;
}

.add-show-btn{
    margin: 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1f2833;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
    /* Slide in */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.xContainer {
    display: flex;
    justify-content: end;
    align-items: end;
}

#x {
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.slideshow-container {
    cursor: pointer;
    position: relative;
    max-width: 1100px;
    height: 400px;
    margin: auto;
    overflow: hidden;
}


.slides {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 1s ease;
}


.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 125%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    opacity: 0;
    transition: background-color 0.7s ease;
}


.slides:hover .caption {
    opacity: 0;
    font-size: 175%;
    transition: background-color 0.7s ease;
}


.caption:hover {
    transition: background-color 0.7s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.caption p,
.caption h2 {
    position: relative;
    transition: font-size 0.5s ease;
}

.caption h2 {
    padding-left: 15%;
}

.caption p {
    font-weight: 300;
    padding-left: 5%;
    font-size: 65%;
    color: #C5C6C7;
    justify-self: start;
    padding: 0%;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.song-setlist-container {

    display: flex;
    height: 400px;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.song-container{
    background-color: #1f2833;
    width: 50%;
    border-radius: 12px;
    margin: 15px;
    overflow-y: auto;
}

.setlist-container{
    background-color: #C5C6C7;
    width: 50%;
    border-radius: 12px;
    margin: 15px;
    color: #1f2833;
    overflow-y: auto;
}


.container-header {
    text-align: center;
    margin-bottom: 25px;
}

.song {
    display: grid;
    grid-template-areas:
        'img title listener';
    grid-template-columns: auto 55% 30%;
    border: 1px white;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.song:hover{
    background-color: #323e4e;
}
.song-img{
    display: flex;
    grid-area: img;
    height: 55px;
    width: 55px;
    overflow: hidden;
    border-radius: 8px;
}

.song-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-title{
    display: flex;
    grid-area: title;
    text-decoration: none;
    color: #C5C6C7;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.song-listener{
    display: flex;
    grid-area: listener;
    align-items: center;
    overflow: hidden;
}

.setlist-grid{
    display: grid;
    grid-template-areas: 
        'setlist show';
    grid-template-columns: 50% 50%;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 55px;
    text-align: center;
    align-content: center;
    transition: background-color 0.3s ease;
}


.setlist-grid:hover {
    background-color: #dbd5d5;
}

.setlist {
    grid-area: setlist;
    text-decoration: none;
    color: #1f2833;
    transition: font-size 0.3s ease;
    overflow: hidden;
}

.setlist:hover {
    font-size: larger;
}

.show {
    grid-area: show;
    text-decoration: none;
    color: #1f2833;
    transition: font-size 0.3s ease;
    overflow: hidden;
}

.show:hover {
    font-size: larger;
}

.show-container {
    background-color: #C5C6C7;
    height: 300px;
    width: 80%;
    border-radius: 12px;
    margin: 15px;
    color: #1f2833;
    overflow-y: auto;
    justify-self: center;
}

.show-grid {
    height: 55px;
    display: grid;
    grid-template-areas:
        'title venue date desc';
    grid-template-columns: 25% 25% 25% 25%;
    transition: background-color 0.3s ease;
}

.show-grid p {
    font-size: small;
    text-align: center;
    overflow: auto;
}


.show-grid:hover {
    background-color: #dbd5d5;
}

.show-title {
    grid-area: title;
}

.show-venue {
    grid-area: venue;
}

.show-date {
    grid-area: date;
}

.show-description {
    grid-area: desc;
}