<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/artist-report.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <title>Artist Report</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="header-container">
                <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
                <div class="header-title">
                    <a href="/">TourTune.</a>
                </div>
                <!-- Jika sudang login -->
                <span th:if="${user != null}" class="welcome-text" th:text="${'Welcome, ' + user.username}"></span>
                <div class="header-buttons">
                    <!-- Jika belum login -->
                    <a class="login-register-btn" th:if="${user == null}" href="/login">Sign in/ Sign up</a>
                    <!-- Jika sudang login -->
                    <a th:if="${user != null}" class="login-register-btn" href="/logout">Sign Out</a>
                </div>
            </div>
            <nav class="sidebar" id="sidebar">
                <div class="xContainer">
                    <button id="x" onclick="toggleMenu()">&#x2716;</button>
                </div>
                <ul>
                    <li><a href="/" id="home-page">Home Page</a></li>
                    <li><a href="/discover" id="discover">Discover</a></li>
                    <li><a href="/artists" id="artist">Artists</a></li>
                    <li><a href="/shows" id="show">Shows</a></li>
                    <!-- Fitur Edit Member hanya muncul jika user.role adalah admin -->
                    <li th:if="${user != null and user.role == 'admin'}"><a href="/members" id="edit">Edit Member</a>
                    </li>
                    <li th:if="${user != null and user.role == 'admin'}"><a href="/artist-report" id="edit">Report</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </header>
    <main>
        <div id="text">
            <center>
                <h4>Select an artist from the dropdown to view detailed information.</h4>
            </center>
        </div>
        <div class="center-dropdown">
            <label for="artistDropdown">Select Artist:</label>
            <select id="artistDropdown" th:field="*{selectedOption}">
                <option value="all">Top 15 Artists</option>
                <option th:each="artist : ${artistReports}" th:value="${artist.idArtist}"
                    th:text="${artist.artistName} + '-' + ${artist.year}">
                </option>
            </select>
        </div>

        <div class="body-content">
            <div class="content-top">
                <h1 id="content-header"><h1>
                <button id="printButton">Download Report</button>
            </div>
            <div class="chart-container">
                <canvas id="artistReportChart" width="400" height="200"></canvas>
            </div>
            <table id="songTableContainer" style="display: none;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Total Listeners</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody id="songTable">
                    <!-- Song data -->
                </tbody>
            </table>
        </div>
        <br><br>
    </main>
    <script th:inline="javascript">
        window.artistReports = /*[[${artistReports}]]*/ [];
    </script>
    <script th:src="@{/js/artist-report.js}" defer></script>
</body>
</html>