<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/discover.css}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="header-container">
                <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
                <div class="header-title">
                    <a href="/">TourTune.</a>
                </div>
                <!-- Jika sudang login -->
                <span th:if="${user != null}" class="welcome-text" th:text="${'Welcome, ' + user.username}"></span>
                <div class="header-buttons">
                    <!-- Jika belum login -->
                    <a class="login-register-btn" th:if="${user == null}" href="/login">Sign in/ Sign up</a>
                    <!-- Jika sudang login -->
                    <a th:if="${user != null}" class="login-register-btn" href="/logout">Sign Out</a>
                </div>
            </div>
            <nav class="sidebar" id="sidebar">
                <div class="xContainer">
                    <button id="x" onclick="toggleMenu()">&#x2716</button>
                </div>
                <ul>
                    <li><a href="/" id="home-page">Home Page</a></li>
                    <li><a href="/discover" id="discover">Discover</a></li>
                    <li><a href="/artists" id="artist">Artists</a></li>
                    <li><a href="/shows" id="show">Shows</a></li>
                    <li><a href="/members" id="edit">Edit Member</a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <main>
        <div class="search-bar">
            <input type="text" placeholder="Search setlists...">
            <button class="search-btn">Search</button>
        </div>
        <div class="body-content">
            <h1 id="content-header">Popular Setlists</h1>
            <div class="content-container">
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/sam-fender.jpeg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Sam Fender</h3>
                            <p class="set-place">3Arena, Dublin</p>
                            <p class="set-date">Dec 2, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/taylor_swift.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Taylor Swift</h3>
                            <p class="set-place">BC Place Stadium, Vancouver</p>
                            <p class="set-date">Dec 6, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/paul.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Paul McCartney</h3>
                            <p class="set-place">La Défense Arena, Nanterre</p>
                            <p class="set-date">Dec 5, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/slip.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Slipknot</h3>
                            <p class="set-place">Ziggo Dome, Amsterdam</p>
                            <p class="set-date">Dec 5, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/fujii.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Fujii Kaze</h3>
                            <p class="set-place">Gocheok Sky Dome, Seoul</p>
                            <p class="set-date">Dec 14, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/the-cure.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">The Cure</h3>
                            <p class="set-place">Hyde Park, London</p>
                            <p class="set-date">Jul 7, 2018</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="body-content">
            <h1 id="content-header">Recomended for You</h1>
            <div class="content-container">
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/sam-fender.jpeg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Sam Fender</h3>
                            <p class="set-place">3Arena, Dublin</p>
                            <p class="set-date">Dec 2, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/taylor_swift.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Taylor Swift</h3>
                            <p class="set-place">BC Place Stadium, Vancouver</p>
                            <p class="set-date">Dec 6, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/paul.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Paul McCartney</h3>
                            <p class="set-place">La Défense Arena, Nanterre</p>
                            <p class="set-date">Dec 5, 2024</p>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="card" href="#">
                        <img th:src="@{/assets/fujii.jpg}" alt="artist-image" class="card-image">
                        <div class="card-overlay">
                            <h3 class="card-title">Fujii Kaze</h3>
                            <p class="set-place">Gocheok Sky Dome, Seoul</p>
                            <p class="set-date">Dec 14, 2024</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>

</html>