<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/edit-member.css}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="header-container">
                <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
                <div class="header-title">
                    <a href="/">TourTune.</a>
                </div>
                <!-- Jika sudang login -->
                <span th:if="${user != null}" class="welcome-text"
                    th:text="${'Welcome, ' + user.username}"></span>
                <div class="header-buttons">
                    <!-- Jika belum login -->
                    <a class="login-register-btn" th:if="${user == null}" href="/login">Sign in/ Sign up</a>
                    <!-- Jika sudang login -->
                    <a th:if="${user != null}" class="login-register-btn" href="/logout">Sign Out</a>
                </div>
            </div>
            <nav class="sidebar" id="sidebar">
                <div class="xContainer">
                    <button id="x" onclick="toggleMenu()">&#x2716;</button>
                </div>
                <ul>
                    <li><a href="/" id="home-page">Home Page</a></li>
                    <li><a href="/discover" id="discover">Discover</a></li>
                    <li><a href="/artists" id="artist">Artists</a></li>
                    <li><a href="/shows" id="show">Shows</a></li>
                    <!-- Fitur Edit Member hanya muncul jika user.role adalah admin -->
                    <li th:if="${user != null and user.role == 'admin'}"><a href="/members" id="edit">Edit Member</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </header>
    <main>
        <div class="body-content">
            <h1 class="content-header">Edit Member</h1>
            <div class="edit-member-container">
                <form action="/members/update-member" method="post" class="edit-member-form">
                    <input type="hidden" name="id" th:value="${edit_user.id}" />

                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username"
                        th:value="${edit_user.username}" required readonly />

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email" th:value="${edit_user.email}" required
                        readonly />

                    <label for="role">Role</label>
                    <select id="role" name="role" required>
                        <option value="member" th:selected="${edit_user.role == 'member'}">Member</option>
                        <option value="admin" th:selected="${edit_user.role == 'admin'}">Admin</option>
                    </select>

                    <button type="submit" class="submit-btn">Save Changes</button>
                </form>
            </div>
        </div>
    </main>

</body>

</html>