<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/home.js}" defer></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="header-container">
                <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
                <div class="header-title">
                    <a href="/">TourTune.</a>
                </div>
                <!-- Jika sudang login -->
                <span th:if="${loggedUser != null}" class="welcome-text"
                    th:text="${'Welcome, ' + loggedUser.username}"></span>
                <div class="header-buttons">
                    <!-- Jika belum login -->
                    <a class="login-register-btn" th:if="${user == null}" href="/login">Sign in/ Sign up</a>
                    <!-- Jika sudang login -->
                    <a th:if="${user != null}" class="login-register-btn" href="/logout">Sign Out</a>
                </div>
            </div>
            <nav class="sidebar" id="sidebar">
                <div class="xContainer">
                    <button id="x" onclick="toggleMenu()">&#x2716;</button>
                </div>
                <ul>
                    <li><a href="/" id="home-page">Home Page</a></li>
                    <li><a href="/discover" id="discover">Discover</a></li>
                    <li><a href="/artists" id="artist">Artists</a></li>
                    <li><a href="/shows" id="show">Shows</a></li>
                    <li><a href="/members" id="edit">Edit Member</a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <main>
        <div class="edit-member-container">
            <h2>Edit Member</h2>
            <form action="/members/update-member" method="post" class="edit-member-form">
                <input type="hidden" name="id" th:value="${user.id}" />

                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username"
                    th:value="${user.username}" required readonly />

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email" th:value="${user.email}" required
                    readonly />

                <label for="role">Role</label>
                <select id="role" name="role" required>
                    <option value="member" th:selected="${user.role == 'member'}">Member</option>
                    <option value="admin" th:selected="${user.role == 'admin'}">Admin</option>
                </select>

                <button type="submit" class="submit-btn">Save Changes</button>
            </form>
        </div>
    </main>

</body>

</html>