<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="header-container">
                <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
                <div class="header-title">TourTune.</div>
                <div class="header-buttons">
                    <a class="login-btn" href="/login">Login</a>
                    <a class="register-btn">Register</a>
                </div>
            </div>
            <nav class="sidebar" id="sidebar">
                <div class="xContainer">
                    <button id="x" onclick="toggleMenu()">&#x2716</button>
                </div>
                <ul>  
                    <li><a href="/" id="op-1">Home Page</a></li>
                    <li><a href="#" id="op-2">Add Artist</a></li>
                    <li><a href="#" id="op-3">Add Show</a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <main>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button class="search-btn">Search</button>
        </div>
        <div class="body-content">
            <h1 id="content-header">About TourTune</h1>
            <p>
                Discover and track concerts from your favorite artists and shows.
                From iconic performances to the latest tours, we're here to help 
                you relive the moments, explore the tracks, and stay connected to the artists you love. Dive into the world of live music with us!
            </p>
            <div class="content-container">
                <div class="content">
                    <a id="discover" class="card">
                        <img th:src="@{/assets/discover.jpg}" alt="Discover-image" class="card-image">
                        <div class="card-body">
                            <h3 class="card-title">Discover Artists and Shows</h3>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a id="add-artist" class="card">
                        <img th:src="@{/assets/artist.jpg}" alt="Artist-image" class="card-image">
                        <div class="card-body">
                            <h3 class="card-title">Add Your Favorite Artist</h3>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a id="add-show" class="card">
                        <img th:src="@{/assets/show.jpg}" alt="Discover-image" class="card-image">
                        <div class="card-body">
                            <h3 class="card-title">Add Your Own Show</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="body-content">
            <h1 id="content-header">Recomended for You</h1>
            <div class="contents">
                <div class="content">
                    <a>Content-1</a>
                </div>
                <div class="content">
                    <a>Content-2</a>
                </div>
                <div class="content">
                    <a>Content-3</a>
                </div>
                <div class="content">
                    <a>Content-4</a>
                </div>
            </div>
        </div>
        <div class="body-content">
            <h1 id="content-header">Our Top Picks</h1>
            <div class="contents">
                <div class="content">
                    <a>Content-1</a>
                </div>
                <div class="content">
                    <a>Content-2</a>
                </div>
                <div class="content">
                    <a>Content-3</a>
                </div>
                <div class="content">
                    <a>Content-4</a>
                </div>
            </div>
        </div>
    </main>
    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>