<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="header-container">
                <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
                <div class="header-title">TourTune</div>
                <div class="header-buttons">
                    <button class="login-btn">Login</button>
                    <button class="register-btn">Register</button>
                </div>
            </div>
            <nav class="sidebar" id="sidebar">
                <div class="xContainer">
                    <button id="x" onclick="toggleMenu()">&#x2716</button>
                </div>
                <ul>  
                    <li><a href="#" id="op-1">Option-1</a></li>
                    <li><a href="#" id="op-2">Option-2</a></li>
                    <li><a href="#" id="op-3">Option-3</a></li>
                </ul>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button class="search-btn">Search</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="about-us">
            <h2 id="aboutus-title">About TourTune</h2>
            <p>
                <strong>Welcome to TourTune!</strong><br>
                Discover and track concerts from your favorite artists and shows.
                From iconic performances to the latest tours, we're here to help 
                you relive the moments, explore the tracks, and stay connected to the artists you love. Dive into the world of live music with us!
            </p>
            <div class="content-container">
                <div class="content">
                    Discover Artists and Shows
                    <div>
                        
                    </div>
                </div>
                <div class="content">
                    Add a New Artist
                </div>
                <div class="content">
                    Add a New Show
                </div>
            </div>
        </div>
        <div class="recomendation">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="popular-shows">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </main>
    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>